<div class="card">
  <h2 class="card-header">Edit Post</h2>
  <form id="edit-post-form" class="edit-post-form m-3">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        value="{{post.title}}"
      />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="content"
        rows="3"
      >{{post.content}}</textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn-form">Update Post</button>
    </div>
    <div class="mb-3">
      <button type="button" id="delete-btn" class="btn-form">Delete</button>
    </div>
  </form>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>