<div class="card">
  <h2 class="card-header">Login</h2>
  <form class="login-form m-3">
    <div class="mb-3">
      <label for="username-login" class="form-label">Username</label>
      <input type="text" class="form-control" id="username-login" />
    </div>
    <div class="mb-3">
      <label for="password-login" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-login" />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn-form">Login!</button>
    </div>
    <div class="mb-3">
      <a href="/signup" class="alt-link">Sign up instead</a>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>