<div class="card">
  <h2 class="card-header">Create New Post</h2>
  <form id="create-form" class="create-form m-3">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control" id="content" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn-form">Create</button>
    </div>
  </form>
</div>

<script src="/javascript/add-post.js"></script>